<div class="main" *ngIf="loading">
    <div class="loading-panel">
        <img class="loading-icon" id="loading-icon" [src]="imageSrc" [ngClass]="{'rotate-forward': turningForward, 'rotate-backward': !turningForward}"/>
    </div>
</div>