.main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-panel {
    background-color: white;
    padding: 20px;
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 13px rgba($color: black, $alpha: 0.5);

    animation: scaleIt 0.25s ease-out;
}

@keyframes scaleIt {
    0% {
        height: 0px;
        width: 0px;
    }
    100% {
        height: 130px;
        width: 130px;
    }
}

.loading-icon {
    height: 50px;
    width: 50px;
}

.rotate-forward {
    animation: rotateIt 1s ease-in-out infinite normal;
}

.rotate-backward {
    animation: rotateIt 1s ease-in-out infinite reverse;
}

@keyframes rotateIt {
    100% {transform: rotate(360deg);}
}