<!DOCTYPE html>
<html>
<head>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="scripts/angular-material.css">
</head>
<body ng-app="BlankApp" ng-controller="AppCtrl">

<button ng-click="SayHi()">Say Hi</button><br>
<button ng-click="showAlert()">Alert Dialog</button><br>
<button ng-click="showHTML()">HTML Dialog</button><br>
<label id="TheLabel">HTML Dialog Return Text</label>

    <!-- Libraries -->

    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/angular-animate.js"></script>
    <script src="scripts/angular-aria.js"></script>
    <script src="scripts/angular-messages.js"></script>
    <script src="scripts/angular-material.js"></script>
    
    
    <!-- Javascript  -->
    <script type="text/javascript">    
            angular.module('BlankApp', ['ngMaterial'])
            .controller('AppCtrl', function($scope, $mdDialog) {

                $scope.SayHi = function() {
                    alert('Hi');
                };

                $scope.showAlert = function() {
                    $mdDialog.show(
                    $mdDialog.prompt()
                        .clickOutsideToClose(true)
                        .textContent('You can specify some description text in here.')
                        .ok('Done')
                        .cancel('Cancel')
                        .initialValue('Buddy')
                    ).then(function(result){alert('Jou hond se naam was ' + result)}, 
                           function(){alert('Jy het nie jou hond n naam gegee nie')});
                };

                $scope.showHTML = function() {
                    $mdDialog.show({
                        templateUrl: 'view.html',
                        clickOutsideToClose: true,
                        parent: angular.element(document.body),
                        scope: $scope,
                        preserveScope: true,
                    }).then(function(result){alert()},
                           function(){alert()});
                };

                $scope.Done = function(Name, Password) {
                    document.getElementById("TheLabel").innerHTML = Name + Password;
                    $mdDialog.hide();
                };

            });
    </script>
  
</body>
</html>